<section id="blog">

    <div class="blog-heading">
        <span>My Recent posts</span>
        <h3>My Blogs</h3>
    </div> 

     {{#if isAdmin}}
        <div>
            <a href="/blogs/new" class="btn btn-link"> New Blog </a>
        </div>
    {{/if}}

    <div class="blog-container">
        {{#if dbError}}
            <div>
                Sorry, there was a problem with the database:<br />
                {{theError}}
            </div>   
        {{else}}
        {{#each blogs}}
            <div class="blog-box">
                <div class="blog-img">
                    <img src="{{blog_image}}" alt="blog">
                </div>

                <div class="blog-text">
                    <span>{{blog_date}}</span>
                    <a class="blog-title">{{blog_title}}</a>
                    <p>{{blog_desc}}</p>
                     {{#if ../isAdmin}}
                        <div>
                            <a href="/blogs/update/{{blogs_id}}"> Modify </a> - <a href="/blogs/delete/{{blogs_id}}" class="important"> Delete </a>
                        </div>
                    {{/if}}
                </div>
            </div>
            
        {{/each}}
        {{/if}}
    </div>
</section>
