<br/>
<br/>
<div class="main">
    <div class="contact-in">
        <div class="contact-form">
            <h1>Modifying Blog!</h1>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/blogs/update/{{blog.blog_id}}" method="post">
                       <fieldset>
                            <label for="blogtitle">Blog Title: </label>
                            <input type="text" name="blogtitle" id="blogtitle" value="{{blog.blog_title}}" required="required" class="contact-form-txt">
                            <label for="blogdate">Blog Date: </label>
                            <input type="text" name="blogdate" id="blogdate" value="{{blog.blog_date}}" required="required" class="contact-form-txt">
                            <label for="blogdesc">Blog Description: </label>
                            <textarea name="blogdesc" id="blogdesc" required="required" class="contact-form-txtarea">{{blog.blog_desc}}</textarea>
                            <label for="blogimg">Blog image URL: </label>
                            <input type="text" name="blogimg" id="blogimg" value="{{blog.blog_image}}" required="required" class="contact-form-txt">
                            <button type="submit" class="btn">Add</button>
                        </fieldset>
                    </form>
                {{else}}
                    <p>Sorry, you must be an administrator to add a new blog!</p>
                {{/if}}
            {{else}}
                <p>
                    Sorry, you must be logged in to add a new blog! <br />
                    Please go to the <a href="/login">Login</a> page.
                </p>
            {{/if}}
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>