<div id="main">
    <div>
        <h1>Modify Blog</h1>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/blogs/update/{{blogs.blogs_id}}" method="post">
                       <fieldset>
                            <label for="blogtitle">Blog Title: </label>
                            <input type="text" name="blogtitle" id="blogtitle" value="{{blogs.blog_title}}" required="required">
                            <br />
                            <label for="blogdate">Blog Date: </label>
                            <input type="text" name="blogdate" id="blogdate" value="{{blogs.blog_date}}" required="required">
                            <br />
                            <textarea name="blogdesc" id="blogdesc" cols="30" rows="10" value="{{blogs.blog_desc}}" required="required"></textarea>
                            <br />
                            <label for="bloguser">User ID: </label>
                            <input type="number" name="bloguser" id="bloguser" value="{{blogs.blogs_uid}}" required="required">
                            <br />
                            <label for="blogimg">Blog image URL: </label>
                            <input type="text" name="blogimg" id="blogimg" value="{{blogs.blog_image}}" required="required">
                            <br />
                        </fieldset>
                        <input type="submit" value="Add Blog">
                    </form>
                {{else}}
                    <p>Sorry, you must be an administrator to add a new blog!</p>
                {{/if}}
            {{else}}
                <p>
                    Sorry, you must be logged in to add a new blog! <br />
                    Please go to the <a href="/login">Login</a> page.
                </p>
            {{/if}}
        </div>
    </div>
</div>